// TODO: un-nest the deeply nested classes.

@import "util/variables";
@import "util/keyframes";

@import "base/typography";

@import "layout/form";

@import "components/button";
@import "components/label";
@import "components/poster";
@import "components/ext_common";



:root {
	--ratio-portrait: 0.668;

	--brand: var(--orange-3);
	--brand-1: var(--orange-4);
	--brand-2: var(--orange-2);
	--text-1: var(--gray-1);
	--text-2: var(--gray-3);
	--surface-1: var(--gray-9);
	--surface-2: var(--gray-8);
	--surface-3: var(--gray-7);
	--surface-4: var(--gray-6);
	--text-size-content-4: 80ch;

	height: 100%;
	width: 100%;

	background-color: var(--surface-2);
	color: var(--text-1);
	accent-color: var(--brand);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
}

.shrink-width-to-content {
	width: max-content;
}

.form-container {
	display: flex;
	flex-direction: column;

	&.row {
		flex-direction: row;
	}
}



.tab-bar {
	height: 3em;
	display: flex;
	flex-direction: row;

	.tab-bar-item {
		background-color: var(--surface-1);
		cursor: pointer;
		padding: 5px;
	}
}

/* EDITING ITEMS CONTAINER */

.editing-items-inside {
	.library-item {
		.poster {
			.top-left {
				display: block;
			}
		}
	}
}


/* CENTER DIV */
.center-normal {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;

	> .center-container {
		margin: auto;
	}
}


/* LIBRARY */
.library-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	position: relative;
	max-height: 100%;

	/* NORMAL */
	&.normal .library-item {
		width: 165px;
	}

	> .library-item {
		text-decoration: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		margin: 1em;

		/* PLACEHOLDER */
		&.placeholder {
			.poster {
				background-color: #202020;
				min-height: 247px;
			}

			.info {
				.author {
					background-color: #202020;
					height: 1em;
					width: 7em;
					margin-bottom: 3px;
				}

				.title {
					background-color: #202020;
					height: 1em;
					width: 4em;
				}
			}
		}

		.info {
			margin-top: 10px;
			display: flex;
			flex-direction: column;

			.title {
				color: var(--text-1);
				text-decoration: none;
				font-size: var(--font-size-2);

				margin-block: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}


			.author {
				color: var(--text-2);
				text-decoration: none;
				font-size: var(--font-size-1);

				margin-block: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


/* LIBRARY EXTERNAL BOOK SEARCH */
.external-book-search-popup {
	//

	> .external-book-search-container {
		overflow-y: auto;

		> h2 {
			margin-bottom: 0.5em;
		}

		> .book-search-items {
			overflow-y: auto;
			background-color: var(--surface-1);
			margin-right: 10px;

			> .book-search-item {
				display: flex;
				margin-bottom: 0.5em;
				cursor: pointer;

				> img {
					height: 16em;
				}

				> .book-info {
					//
				}
			}
		}
	}
}

.popup-book-edit {
	width: 58%;

	.header {
		//
	}

	.footer {
		//
	}

	.content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		&.edit-posters {
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			.drop-container {
				background-color: var(--surface-1);
				cursor: pointer;
				padding: 2em;
			}

			.poster-list {
				display: flex;
				flex-wrap: wrap;

				.poster {
					margin: 5px;
					cursor: pointer;
				}
			}
		}
	}
}


.outer-view-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.view-container {
	margin: 0.5em;
	flex-grow: 1;
	overflow-y: hidden;
}

.sidebar-container {
	background: var(--surface-1);
	width: 14em;
	padding: 1em;
	flex-shrink: 0;

	> .sidebar-item {
		display: block;
		width: 100%;
		margin-bottom: 0.5em;

		&.library {
			font-size: var(--font-size-3);
		}
	}
}


/* Media View Page */
.media-view-container {
	// Info
	> .info-container {
		display: flex;
		flex-direction: row;

		> .poster {
			flex-shrink: 0;
		}

		> .metadata-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			> .metadata {
				flex-grow: 1;
				margin-left: 1em;
				display: flex;
				flex-direction: column;

				> .title {
					max-inline-size: var(--size-header-3);
				}

				> .description {
					max-inline-size: var(--text-size-content-4);
					white-space: pre-wrap;
				}

				// Editing
				> input.title {
					margin-bottom: 10px;
				}
			}
		}
	}

	section {
		margin-top: 1em;

		h2 {
			margin-bottom: 0.25em;
		}
	}

	// Files
	.files-container {
		display: flex;
		flex-wrap: wrap;

		> .file-item {
			display: block;
			width: calc(25% - 1em);
			padding: 0.5em;
			margin: 0.5em;

			border-radius: var(--radius-2);
			border: var(--border-size-1) solid transparent;

			&:hover {
				border-color: var(--brand);
			}
		}
	}

	.posters-container {
		display: flex;
		overflow-x: auto;
		flex-wrap: nowrap;
		padding: 10px 0px;

		.add-poster {
			width: 165px;
			height: 247px;
			border-radius: var(--radius-2);
			border: var(--border-size-1) solid var(--brand);
			transition: border 0.25s;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			cursor: pointer;

			> span {
				text-align: center;
				width: 100%;
			}
		}

		.poster {
			flex-shrink: 0;
			margin: 0 3px;
			cursor: pointer;

			&.selected {
				cursor: default;
				border-width: 4px;
			}
		}
	}

	// Authors
	.authors-container,
	.characters-container {
		display: flex;
		flex-direction: row;

		> .add-person {
			display: flex;
			align-items: center;
			transition: border 0.25s;
			padding: 0.5em;
			width: 10em;
			cursor: pointer;

			border-radius: var(--radius-2);
			border: var(--border-size-1) solid var(--brand);

			> span {
				text-align: center;
				width: 100%;
			}
		}

		// TODO: Replace with .person-container
		> .person-item {
			display: flex;
			flex-direction: column;
			transition: border 0.25s;
			padding: 0.5em;
			width: 10em;

			border-radius: var(--radius-2);
			border: var(--border-size-1) solid transparent;

			&:hover {
				border-color: var(--brand);
			}

			> .photo {
				position: relative;
				overflow: hidden;
				width: 9em;
				height: 9em;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: var(--radius-blob-5);
				}
			}

			> .title {
				text-align: center;
			}
		}
	}
}



.person-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	position: relative;
	max-height: 100%;
}

// Edit List Container
.edit-list-view-container {
	overflow-y: auto;

	.list-items {
		width: 50%;
		margin: 0 auto;
	}

	.editing-item-card {
		background: var(--surface-1);
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 1em;

		.header,
		.footer {
			display: flex;

			.aligned-right {
				margin-left: auto;
				text-align: right;
			}
		}

		.body {
			margin-top: 1em;
		}
	}
}

@media screen and (max-width: 1354px) {
	.edit-list-view-container .list-items {
		width: 669px;
	}
}


.external-person-search-popup {
	//

	> .external-person-search-container {
		overflow-y: auto;

		> h2 {
			margin-bottom: 0.5em;
		}

		> .person-search-items {
			max-height: 25em;
			overflow-y: auto;
			background-color: var(--surface-1);
			margin-right: 10px;

			> .person-search-item {
				display: flex;
				margin-bottom: 0.5em;
				cursor: pointer;

				> img {
					height: 8em;
				}

				> .person-info {
					//
				}
			}
		}
	}
}


/* LOGIN PAGE */

.login-container {
	flex-grow: 1;
}



.person-container {
	display: flex;
	flex-direction: column;
	transition: border 0.25s;
	padding: 0.5em;
	width: 10em;
	cursor: pointer;

	border-radius: var(--radius-2);
	border: var(--border-size-1) solid transparent;

	// open-props fix
	margin-block: unset;
	margin-inline: unset;
	padding-block: unset;
	padding-inline: unset;

	&:hover {
		border-color: var(--brand);

		> .photo > .bottom-left,
		> .photo > .bottom-right {
			display: block;
		}
	}

	> .photo {
		position: relative;
		overflow: hidden;
		width: 9em;
		height: 9em;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: var(--radius-blob-5);
		}

		.bottom-right {
			z-index: 99;
			position: absolute;
			bottom: 0px;
			right: 3px;
			display: none;
		}

		.bottom-left {
			z-index: 99;
			position: absolute;
			bottom: 0px;
			left: 3px;
			display: none;
		}
	}

	> .title {
		text-align: center;
	}
}