@import "util/variables";
@import "layout/breakpoint";

@import "base/typography";

@import "components/mass_select_bar";
@import "components/filter_bar";

@import "pages/list_collections";
@import "pages/list_edits";
@import "pages/list_members";
@import "pages/list_searches";

html {
    height: 100%;
    overflow-x: hidden;
}


.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.w-fit-content {
    width: fit-content;
}

.c-pointer {
    cursor: pointer;
}