.searches-list-view-container {
	overflow-y: auto;

	.list-items {
		width: 50%;
		margin: 0 auto;
	}

	.search-item-card {
		background: var(--surface-1);
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 1em;

		.header {
			margin-bottom: 1em;
		}

		.footer {
			margin-top: 1em;
		}

		// .body {}

		> .tools {
            margin-top: 10px;

			> * {
				margin-right: 5px;
			}
        }
	}
}

// TODO: Move into layout and define as its' own.
@media screen and (max-width: 1354px) {
	.edit-list-view-container .list-items {
		width: 669px;
	}
}